<style>
    .swal2-actions {
        /* background-color: rgb(129, 124, 158)!important;
        border-color: black!important; */
        color: black!important;
    }
    .swal2-cancel {
        /* background-color: rgb(136, 255, 0)!important; */
        color: black!important;
    }

</style>
