body
{
  font-family:segoe UI;
  font-size:11pt

}

.titulo{
  font-family:segoe UI;
  font-size:12pt;
  color:darkgreen;
  font-weight:bold;
  text-align: center;
 width: max-content;
}

th
{
  text-align:center;
  background-color:#ccc;
  border:1px solid gray;
  padding:5px
}
td{
  padding:5px;
  border:1px solid gray;
}

table{
    border-collapse:collapse;
    border: blue;
}

#BtnCalcular{
  font-family:segoe UI;
  font-size:12pt;
  color:black;
  font-weight:bold;
  padding:5px;
}

.error_element{
    background-color: red;
}
