@charset "utf-8";
/* CSS Document */

body{
	font-family: montserrat;
	font-size: 20px;
	color: #707070;
}


#logo{
	align-content: center;
	text-align: center;
}

#header{
	align-content: center;
	background: #51B655;
	border: none; 
	text-align: center;
	
}

h1{
	font-family: oswald;
	font-weight: normal;
	font-size: 15px;
	color: #707070;
}

h2{
	font-weight:normal;
}

h3{
	font-size: 18px;
	font: medium;
}
h4{
	font-weight: 400;
}

#title{
	border-bottom: thin solid #70707070;
	border-spacing: 56px 0px;
	margin-left: 170px;
	margin-right: 170px;
	margin-top: 5px;
	margin-bottom: 5px;
	padding-bottom: 10px;
}


#results{
	border-bottom: thin solid #707070;
}

.datos{
	font-family: montserrat;
	font-size: 15px;
	background-color: #ECECEC;
	padding-left: 12px;
	padding-right: 12px;
	border: none;
}

.whitetext{
	background-color: white;
}


.greendata{
	font-family: montserrat;
	font-size: 15px;
	background-color:#51B655;
	padding-left: 12px;
	padding-right: 12px;
	border: none;
	
}

.comparation{
	border:none;
	
}

#whitein{
	color:white;
}

.whitesub{
	color: white
}

li{
	text-decoration: none;
	list-style: none;
	
}

span{
	font-weight: bold;
	font-size: 22px;
}

.benefits{
	background-color: #EDEDED;
	margin-left: 170px;
	margin-right: 170px;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
}
button{
	font-family: montserrat;
	
	font-size: 20px;
	color: white;
	background-color: #51B655;
	border: none;
	padding-top: 20px;
	padding-bottom: 20px;
	padding-left: 40px;
	padding-right: 40px;
}

button:hover{
	background: #f1c40f;
	font-weight: medium;
	cursor: pointer;
}
